{% extends 'base.html.twig' %}

{% block title %}New SymptomHistory{% endblock %}

{% block body %}
    <h1>Create new SymptomHistory</h1>

    {{ include('symptom_history/_form.html.twig') }}

    <a href="{{ path('app_symptom_history_index') }}">back to list</a>
{% endblock %}
